.content {
    min-height: 82vh;
    max-width: 1620px;
    padding: 10px 80px;
    margin: 0 auto;
    position: relative;
    background-color: #fff;
}

@media (max-width: 870px) { 

    .content {
        padding: 10px 30px;
    }
}