.loading {
    display: flex;
    align-items: center;
    justify-content: center;
}

.topProducts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px 20px;
    
    > div {
        width: 300px;
    }
}

.allProducts {
    cursor: pointer;
    transition: .3s;

    &:hover {
        color: black;
    }
}